form(action='/applicants', method='post')
  .row
    //- .large-9.columns
    .large-4.columns
      label
        | First Name 
        span.required *
        input(type='text', name='firstname', required, placeholder='first name (required)')
    .large-4.columns.end
      label
        | Last Name 
        span.required *
        input(type='text', name='lastname', required, placeholder='last name (required)')
  .row
    .large-8.columns
      label
        | Applies For Position 
        span.required *
        select(name='position' required)
          option(value='p') Programmer
          option(value='ap') Analyst Programmer
          option(value='sap') Senior Analyst Programmer
          option(value='pl') Project Leader
          option(value='tl') Technical Leader
          option(value='na') Others (Specify in Notes below)
  .row
    .large-8.columns
      label
        | Notes
        textarea.tall(name='notes', placeholder='leave your additional information here (optional)')
  .row
    .large-8.columns
      button.tiny.button.green(type='submit') Submit