form(action='/applicants', method='post')
  .row
    .large-9.columns
      label
        | Full Name 
        span.required *
        input(type='text', name='fullname', required, placeholder='first name and last name')
  .row
    .large-9.columns
      label
        | Position 
        span.required *
        select(name='position' required)
          option(value='p') Programmer
          option(value='ap') Analyst Programmer
          option(value='sap') Senior Analyst Programmer
          option(value='pl') Project Leader
          option(value='tl') Technical Leader
          option(value='na') Others (Specify in Notes below)
  .row
    .large-9.columns
      label
        | Notes
        textarea.tall(name='notes', placeholder='leave your additional information here (optional)')
  .row
    .large-9.columns
      button.small.button.green(type='submit') Submit