extends ../layout

block content
  .large-3.columns 
  .large-9.large-centered.columns
    h1= 'Hi, ' + applicant.fullname 
    p Welcome to ### 
    p Exam description bla bla.
    a.button.small(href='#') Start

