extends ../layout

block content
  .large-3.columns 
  .large-9.large-centered.columns
    h1= 'Hi, ' + applicant.fullname + '!'
    p We are pleased to have you here with us. Bla bla... 
    a(href=nextLink) Proceed to the exam

