extends ../layout

block content
  .large-3.columns 
  .large-9.columns
    h1 Administrative Tasks
    hr
    h3 Questions
    ul
      if canListQuestions
        li
          a(href='admin/questions') List questions
      if canAddQuestions
        li
          a(href='admin/questions/new') Add questions
