extends layout

block content
  .large-3.columns 
  .large-9.columns
    h1= title
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet risus vel magna fermentum volutpat. In in ipsum ante. Etiam faucibus aliquam odio et cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vitae rhoncus justo. Etiam ultrices egestas vehicula. Suspendisse potenti. Suspendisse convallis nibh non justo rutrum, et tincidunt sapien venenatis. Pellentesque placerat eros et placerat mollis. Maecenas nec erat vehicula, semper tellus eu, sagittis elit. Phasellus eget eleifend turpis. Curabitur luctus lacus feugiat, luctus erat eget, ullamcorper nulla.
