extends ../../../layout

block content
  .row
    .small-6.large-centered.columns
      .row
        .medium-3.columns.login.icon 
          img.hide-for-small-only(src='/images/divers-helmet.png')
        .medium-9.columns
          include form 
