form(action='/applicants/questions', method='post')
  .row
    .large-9.columns
      label
        | Answer: 
        textarea.tall(name='notes', placeholder='please enter your answer')
  .row
    .large-9.columns
      button.small.button.green(type='submit') Submit