form(method='post')
  .row
    .large-12.columns
      label
        | Answer 
        span.required *
        textarea.editor.tall(name='answer', placeholder='please enter your answer')= answer
  .row
    .large-12.columns
      button.small.button.green(type='submit')= buttonText