form(method='post')
  .row
    .large-12.columns
      label
        | Answer: 
        textarea.tall(name='answer', placeholder='please enter your answer')
  .row
    .large-12.columns
      button.small.button.green(type='submit')= buttonText