extends ../../layout

block content
  .large-3.columns 
  .large-9.large-centered.columns
    h2 Question
    article.markdown
      p!= md(question.text)
      p= 'Point: ' + question.point
    include form

